flow.json
[{"id":"f5e32ed9.6c7338","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"18960f88.1310a","type":"mqtt in","z":"f5e32ed9.6c7338","name":"","topic":"data","qos":"2","datatype":"auto","broker":"e416869d.f400e","nl":false,"rap":true,"rh":0,"x":210,"y":280,"wires":[["34bea137.37b2e6"]]},{"id":"4159f7cc.ada1f","type":"mysql","z":"f5e32ed9.6c7338","mydb":"25afc70.8a55aba","name":"DATABASE","x":790,"y":540,"wires":[["6b75f829.68bba"]]},{"id":"2d644e58.65eb3a","type":"function","z":"f5e32ed9.6c7338","name":"insert","func":"msg.topic = \"INSERT INTO CONTEO(`FECHA`, `PINK`, `GREEN`) VALUES (CURRENT_TIMESTAMP,'\"+msg.payload[0]+\"', '\"+msg.payload[1]+\"')\";\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":540,"wires":[["4159f7cc.ada1f"]]},{"id":"34bea137.37b2e6","type":"function","z":"f5e32ed9.6c7338","name":"split","func":"msg.payload = msg.payload.split(',')\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":280,"wires":[["2d644e58.65eb3a","b1ba04b8.eab7c8"]],"info":"Convertir los mensajes separados por comas a arrays"},{"id":"7ac384c9.1fe3e4","type":"ui_text","z":"f5e32ed9.6c7338","group":"79e39757.ce4aa8","order":2,"width":0,"height":0,"name":"","label":"Pink","format":"{{msg.payload}}","layout":"row-spread","x":870,"y":200,"wires":[]},{"id":"8b412a7.2a9afd8","type":"ui_text","z":"f5e32ed9.6c7338","group":"79e39757.ce4aa8","order":2,"width":0,"height":0,"name":"","label":"Green","format":"{{msg.payload}}","layout":"row-spread","x":870,"y":380,"wires":[]},{"id":"88d1bce0.8d14f","type":"inject","z":"f5e32ed9.6c7338","name":"Reset","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[]","payloadType":"json","x":590,"y":380,"wires":[["7ac384c9.1fe3e4","8b412a7.2a9afd8","9dfc8305.f9c17"]],"info":"Resetear los gráficos y los contadores de productos"},{"id":"9dfc8305.f9c17","type":"ui_chart","z":"f5e32ed9.6c7338","name":"","group":"79e39757.ce4aa8","order":2,"width":0,"height":0,"label":"Gráfico Conteo","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ec0eb4","#1fbf12","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":980,"y":280,"wires":[[]]},{"id":"b1ba04b8.eab7c8","type":"function","z":"f5e32ed9.6c7338","name":"messages","func":"var i\nvar msgs = []\nvar labels = ['Pink', 'Green'] // agregar las etiquetas\nfor (i=0; i<labels.length; i++){\n    msgs[i] = {} //inicializar el mensaje dentro del array\n    msgs[i].payload = msg.payload[i]\n    msgs[i].topic = labels[i]\n}\n\n\nreturn msgs","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":280,"wires":[["7ac384c9.1fe3e4","9dfc8305.f9c17"],["8b412a7.2a9afd8","9dfc8305.f9c17"]],"info":"Separar los mensajes para pasarlos a graficar"},{"id":"6b75f829.68bba","type":"debug","z":"f5e32ed9.6c7338","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":950,"y":620,"wires":[]},{"id":"e416869d.f400e","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"25afc70.8a55aba","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"PINK_AND_GREEN","tz":"","charset":"UTF8"},{"id":"79e39757.ce4aa8","type":"ui_group","name":"Conteo_Productos","tab":"2dff0d60.90fdf2","order":1,"disp":true,"width":"6","collapse":false},{"id":"2dff0d60.90fdf2","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]